<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.system.mapper.VRoleApiMapper">

    <resultMap id="BaseResultMap" type="com.example.common.domain.VRoleApi">
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="roleApiId" column="role_api_id" jdbcType="BIGINT"/>
            <result property="dataScope" column="data_scope" jdbcType="VARCHAR"/>
            <result property="operatingStatus" column="operating_status" jdbcType="VARCHAR"/>
            <result property="dataKey" column="data_key" jdbcType="VARCHAR"/>
            <result property="apiId" column="api_id" jdbcType="BIGINT"/>
            <result property="parentApiId" column="parent_api_id" jdbcType="BIGINT"/>
            <result property="apiName" column="api_name" jdbcType="VARCHAR"/>
            <result property="isButton" column="is_button" jdbcType="CHAR"/>
            <result property="appModel" column="app_model" jdbcType="VARCHAR"/>
            <result property="action" column="action" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,role_api_id,data_scope,
        operating_status,data_key,api_id,
        parent_api_id,api_name,is_button,
        app_model,action
    </sql>
</mapper>
